*{
 margin: 0;
}
.App{
    
    height: 100%;
    width: 100%;
    background-color: #fafafa;

}

img.app__headerImage{
    height: 5vh;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid lightseagreen;
    object-fit: contain;
    object-position: left;
}
img.app__signupImage{
    width: 70%;
    background-color: white;
    object-fit: contain;
    object-position: left;
}
.app__signup{
    display: flex;
    flex-direction: column;
    padding: 2px;
}