*{
 margin: 0;
}
.app{
    
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
    
}
.app__header{
    background-color: #1C1C1C;
    padding: 5px;
    border-bottom: 1px solid lightseagreen;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
}
/* .app__postsContainer{
    display: flex;
    flex-direction: row;
} */
.app_Login_Button{
    color: lightseagreen;
}



.app_loginContainer{
    padding-top: 20px;
    
}

.app__headerImage{
    width: 175px;
    object-fit: contain;
}
img.app__signupImage{
    width: 70%;
    background-color: #FAFAFA;
    object-fit: contain;
    object-position: left;
}

.app__signup{
    
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 2px;
}