.post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightseagreen;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    --primary: #efb6b2;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
}

.post__img{
    width: 100%;
    object-fit:contain;
    border-top: 1px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
    
}
.post__text{
    color: black;
    font-weight: normal;
    padding: 20px;
    color: #1C1C1C;
    font-weight: normal;
    font-size: 0.9rem;
}
.post__header{
    padding: 20px;
    display:flex;
    align-items: center;
    color: black;
    font-family: 'Noto Serif';
    color: var(--secondary);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2rem;

}
.post__avatar{
    margin-right: 10px;
}